@import url('https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

:root {
    --main-color: #000;
    --secondary-color: #fff;
    --bg-color: #000;
    --marquee-width: 100%;
    --marquee-height: 20vh;
    /* --marquee-elements: 12; */
    /* defined with JavaScript */
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

/* Styles for the custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #000;
}

::-webkit-scrollbar-thumb:hover {
    background: #111;
}

body {
    background: var(--bg-color);
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

ul {
    list-style: none;
}

.nav-parent {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 3;
}

.nav-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;
    background: var(--bg-color);
}

.nav-wrapper ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.nav-parent .nav-wrapper .branding a img {
    width: 140px;
}

.nav-wrapper ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: var(--secondary-color);
    transition: width 0.3s ease;
}

.nav-wrapper ul li a:hover::after {
    width: 100%;
}

.burger {
    display: none;
}

.burger.active .bar:nth-child(1) {
    transform: rotate(45deg) translateY(6px);
}

.burger.active .bar:nth-child(2) {
    transform: rotate(-45deg) translateY(-5px);
}

.burger .bar {
    width: 100%;
    height: 2px;
    background: var(--secondary-color);
    transition: all 0.3s ease;
}

.burger-links {
    display: none;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background: var(--bg-color);
    top: -100%;
    transition: all 0.3s ease;
}

.burger-links.active {
    top: 0%;
}

.home-section {
    display: grid;
    place-items: center;
    position: relative;
    margin-top: 10rem;
}

.home-section h1 {
    font-size: clamp(3rem, 4vw, 6rem);
    color: var(--secondary-color);
    width: 70%;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    background: linear-gradient(to right, #ffffff, #00000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.home-section a {
    background: var(--secondary-color);
    color: var(--main-color);
    padding: 10px 1rem;
    margin-top: 4rem;
    border-radius: 50px;
}

.home-hero {
    position: absolute;
}

.home-hero img {
    aspect-ratio: 1/1;
    object-fit: cover;
    width: clamp(300px, 40vw, 500px);
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    padding: 4rem;
    margin-top: 10rem;
}

.about-description h1,
.about-description p {
    color: var(--secondary-color);
}

.about-description p {
    margin-top: 2rem;
    font-size: 2rem;
}

.about-image {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-image img {
    aspect-ratio: 1/1;
    width: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    body.active {
        overflow: hidden;
    }

    .nav-wrapper {
        padding: 2rem;
    }

    .nav-wrapper ul {
        display: none;
    }

    .burger {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        width: 50px;
        height: 10px;
    }

    .burger-links {
        display: flex;
    }

    .about-section {
        grid-template-columns: 1fr;
    }

    .about-description {
        text-align: justify;
    }

    .about-description p {
        font-size: 20px;
    }
}

.marquee {
    width: var(--marquee-width);
    height: var(--marquee-height);
    background-color: #000;
    color: #eee;
    overflow-x: hidden;
    position: relative;
}

.marquee:before,
.marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}

.marquee:before {
    left: 0;
    background: linear-gradient(to right, #000 0%, transparent 100%);
}

.marquee:after {
    right: 0;
    background: linear-gradient(to left, #000 0%, transparent 100%);
}

.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}

/* .marquee-content:hover {
  animation-play-state: paused;
} */
@keyframes scrolling {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements)));
    }
}

.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    /* text-align: center; */
    flex-shrink: 0;
    width: var(--marquee-element-width);
    max-height: 100%;
    font-size: calc(var(--marquee-height)*3/4);
    /* 5rem; */
    white-space: nowrap;
}

.marquee-content li img {
    width: 100%;
    /* height: 100%; */
    border: 2px solid #eee;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    :root {
        --marquee-width: 100vw;
        --marquee-height: 16vh;
        --marquee-elements-displayed: 3;
    }

    .marquee:before,
    .marquee:after {
        width: 5rem;
    }
}

@media (max-width: 768px) {
    .marquee-content li {
        width: var(--marquee-element-width);
        max-height: 100%;
        font-size: calc(var(--marquee-height)*2/4);
        /* 5rem; */
        white-space: nowrap;
    }
}